* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 99, 112);
}

.relogio {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: rgb(79, 133, 151);
    padding: 30px;
    border-radius: 6px;
}

.relogio-title {
    text-align: center;
}

.relogio-body {
    display: flex;
    gap: 6px;
}

.relogio-body-item {
    background-color: black;
    width: 100px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.relogio-body-item > span {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

